.section7-wrapper{
    width: 100%;
    position: relative;
    border: 1px solid black;
    
}
.section7-container{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 64px;
    background-color: #fff;
    padding-top: 6%;
}