.navbar-wrapper{
    width: 100vw;
    height: 100px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    /* background-color: #e3051b; */
    background-color: #d6051a;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar-wrapper .logo{
    width: 211px;
}
.navbar-wrapper .logo img{
    height: 90px;
}
.navbar-wrapper .navbar-list{
    margin-left: 3.5%;
}
.navbar-wrapper .navbar-list ul{
    display: flex;
    list-style: none;
}
.navbar-wrapper .navbar-list ul li {
    /* font-family: Grauna, sans-serif; */
    margin-right: 4%;
    font-size: 18px;
    font-weight: 600;
}
.navbar-wrapper .navbar-list ul li a{
    color: #fff;
    text-decoration: none;
}
.navbar-wrapper .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    cursor: pointer;
}
/* .navbar-wrapper .facebook-icon{
    margin-right: 2%;
} */
.navbar-wrapper .line-div{
    width:1.3px;
    background-color: #fff;
    height: 25px;
    margin-left: 8px;
}
.language-wrapper{
    display: flex;
    margin-left: 1%;
}
.language-wrapper a{
    /* text-decoration: none; */
    color: #fff;
    padding-left: 8px;
    font-size: 18px;
    font-weight: 600;
}