.layout-wrapper{
    position: relative;   
    
}
.heroSection{
    width: 100vw;
    max-height: 850px;
}
.solutionSection{
    position: absolute;
    top: 1100px;
    width: 90%;
    text-align: center; 
}
.section3{
    position: absolute;
    top: 1700px;
    width: 90%;
    text-align: center;
}
.section4{
    position: absolute;
    top: 2800px;
    width: 100%;
    text-align: center;
}
.section5{
    position: absolute;
    top: 3600px;
    width: 100%;
    text-align: center;
}
.section6{
    position: absolute;
    top: 4450px;
    width: 100%;
    text-align: center;
}
.section7{
    position: absolute;
    top: 5550px;
    width: 100%;
    text-align: center;
}
.section8{
    position: absolute;
    top: 5880px;
    width: 100%;
    text-align: center;
}
.section9{
    position: absolute;
    top: 6780px;
    width: 100%;
    text-align: center;
}
.section10{
    position: absolute;
    top: 8000px;
    width: 100%;
    text-align: center;
}
.section11{
    position: absolute;
    top: 9000px;
    width: 100%;
    text-align: center;
}
.section12{
    position: absolute;
    top: 9770px;
    width: 100%;
    text-align: center;
}
.section13{
    position: absolute;
    top: 10870px;
    width: 100%;
    text-align: center;
}