
.carousel-wrapper{
    width: 100%;
}
.carousel-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}
.item{
    min-height: 200px;
    min-width: 350px;
    padding: 40px;
}
.item img{
    width: 100%;
    height: 80%;
    border-radius: 2rem;
}
.inner-carousel{
    display: flex;
    background: #fff;
}
.carousel{
    cursor: grab;
    overflow: hidden;

}